.container {
  grid-area: 7 / span 2;
  display: flex;
  justify-content: center;
}

.wrapper {
  margin: 5vh 0;
  width: 75%;
  display: grid;
  grid-template: repeat(16, auto) / 1fr 0.2fr 1fr;
}

.timeTravel {
  font-size: 45px;
  letter-spacing: 2px;
  grid-area: 1/1/2/2;
  margin: 0;
}

.year {
  font-size: 20px;
}

.photo2013, .photo2014, .photoJanuary2015, .photoNovember2015  {
  width: 280px;
  height: 250px;
  object-fit: cover;
}

.year2013 {
  margin: 0;
  grid-area: 1/3/2/-1;
  align-self: center;
}

.text2013 {
  grid-area: 2/3/3/-1;
}

.photo2013 {
  border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  grid-area: 4/3/5/-1;
}

.year2014 {
  margin: 0;
  align-self: center;
  grid-area: 3/1/4/2;
}

.text2014 {
  grid-area: 4/1/5/2;
}

.photo2014 {
  border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  grid-area: 6/1/7/2;
  margin-bottom: 50px;
}

.yearJanuary2015 {
  margin: 0;
  grid-area: 5/3/6/-1;
}

.textJanuary2015 {
  grid-area: 6/3/7/-1;
  margin-bottom: 20px;
}

.photoJanuary2015 {
  border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  grid-area: 6/3/9/-1;
  align-self: center;
  /* margin-top: 50px; */
}

.yearNovember2015 {
  margin: 0;
  grid-area: 7/1/8/2;
}

.textNovember2015 {
  grid-area: 8/1/10/2;
  margin-bottom: 20px;;
}

.photoNovember2015 {
  border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  grid-area: 10/1/11/2;
}

.firstCircle {
  margin-right: 10px;
  align-self: center;
  justify-self: center;
  grid-area: 1/2/2/3;
}

.firstLine {
  margin-top: 30px;
  align-self: center;
  justify-self: center;
  grid-area: 1/2/4/3;
}

.secondCircle {
  align-self: center;
  justify-self: center;
  margin-left: 30px;
  grid-area: 3/2/4/3;
}

.secondLine {
  margin-right: 20px;
  align-self: center;
  justify-self: center;
  grid-area: 3/2/6/3;
}

.thirdCircle {
  align-self: center;
  justify-self: center;
  margin-right: 60px;
  grid-area: 5/2/6/3;
}

.thirdLine {
  margin-right: 110px;
  align-self: center;
  justify-self: center;
  grid-area: 5/2/8/3;
}

.fourthCircle {
  align-self: center;
  /* justify-self: center; */
  margin-left: 5px;
  grid-area: 7/2/8/3;
}
